
<table style="font-size: 97%;" class="wikitable">
  <tbody>
    <tr>                  
      <th width="5%" rowspan="2">SubModel</th>
      <th width="14%" rowspan="2">中文</th>
      <th width="17%" rowspan="2">英文</th>    
      <th colspan="3"><p>元素定义</p></th>
      <th width="12%" rowspan="2">集合</th>
      <th width="13%" rowspan="2">备注</th>
    </tr>
    <tr>
      <th width="16%">type</th>
      <th width="16%">selector</th>
      <th width="14%">必填</th>
    </tr>
    <% model.children.each do|e| %>
	    <tr>                                     
	      <td><%= boolean_display e.sub_model? %></td>
	      <td><%= e.title %></td>
	      <td><%= e.name %></td>                   
	      <td><%= html_type(e) %></td>
	      <td><%= e.properties.selector %></td>
	      <td><%= boolean_display e.properties.required %></td>
	      <td><%= boolean_display e.properties.collection %></td>
	      <td><%= e.properties.memo%> </td>
	    </tr>
    <% end %>
  </tbody>
</table>
