<p>
    大家好，	本次回归测试报告如下
    <br>
</p>
<p>
    如有疑问， 请直接旺旺  樊俊,婉佩
</p>
<ul style="margin-left:8px">
    <li>
        <font size=4 ><b>各类回归汇总:</b></font> <br><br>
    </li>
    <ul>
        <li>
            <a href="#tam">TAM全网回归测试报告</a><br><br>
        </li>
        <li>
            <a href="#platform">平台全网回归测试报告</a><br><br>
        </li>
        <li>
            <a href="#preview_release">预发环境TOP全网回归</a><br><br>
        </li>
    </ul>
</ul>
<ul style="margin-left:8px">
    <li>
        <font size=4 ><b>各类回归详情:</b></font><br><br>
    </li>
    <ul>
        <li>
            <p style="color:red;">
                TAM全网回归测试报告
            </p>
            <a name="tam"><% table(@bgjob_category.bgjob_suites,
                ["产品线", '接口人','测试集','用例数','验证结果',
                '开始时间', '结束时间', '运行时长（秒）','详细信息'], :tag_option => 'cellpadding="2" border="1"') do |bgjob_suite, klass| -%>
                <% if bgjob_suite && bgjob_suite.state == 'done' %>
                <tr>
                    <td>
                        <%= bgjob_suite.testsuite.project.product_line.name %>
                    </td>
                    <td>
                        <%= bgjob_suite.testsuite.project.users_of_role(Role::AUTO_CHARGE).select{|e|e.department !~ /自动化测试/}.map(&:nickname).join(",") %>
                    </td>
                    <td>
                        <%= bgjob_suite.testsuite.title %>
                    </td>
                    <td>
                        <%= bgjob_suite.result_stats.jobs.count %>
                    </td>
                    <td>
                        <% if(count = bgjob_suite.result_stats.confirm_failed_count)>0 %>
                        <%= link_to "#{count} failed", auto_bgjob_suite_url(bgjob_suite), {:style=>"color:red;"} %>
                        <% else %>
                        Passed<% end %>
                    </td>
                    <td>
                        <%= date_format bgjob_suite.started_at %>
                    </td>
                    <td>
                        <%= date_format bgjob_suite.done_at %>
                    </td>
                    <td>
                        <%= bgjob_suite.duration %>
                    </td>
                    <td>
                        <%=link_to "详细信息", auto_bgjob_suite_url(bgjob_suite) %>
                    </td>
                </tr>
                <% end %>
                <% end %>
            </a>
        </li>
        <li>
            <p style="color:red;">
                平台全网回归测试报告
            </p>
            <a name="platform"><% table(@reports,
                ["产品线", '用例总数','通过总数','失败总数','忽略总数',
                '构建时间', '回归情况分析'], :tag_option => 'cellpadding="2" border="1"') do |report, klass| -%>
                <tr>
                    <td>
                        <%= link_to report.name,report.url %>
                    </td>
                    <td>
                        <%= report.total_count %>
                    </td>
                    <td>
                        <%= report.pass_count %>
                    </td>
                    <td>
                        <% if report.fail_count != 0 then %>
                        <font color="red">
                            <%= report.fail_count %>
                        </font>
                        <% else %>
                        <%= report.fail_count %>
                        <% end %>
                    </td>
                    <td>
                        <%= report.skip_count %>
                    </td>
                    <td>
                        <%= report.build_id %>
                    </td>
                    <td>
                        <%= report.fail_count!=0 ? report.description : "回归通过" %>
                    </td>
                </tr>
                <% end %>
            </a>
        </li>
        <li>
            <p style="color:red;">
                预发环境TOP全网回归
            </p>
            <a name="preview_release"><% table(@preview_release_reports,
                ["产品线", '用例总数','通过总数','失败总数','忽略总数',
                '构建时间', '回归情况分析'], :tag_option => 'cellpadding="2" border="1"') do |report, klass| -%>
                <tr>
                    <td>
                        <%= link_to report.name,report.url %>
                    </td>
                    <td>
                        <%= report.total_count %>
                    </td>
                    <td>
                        <%= report.pass_count %>
                    </td>
                    <td>
                        <% if report.fail_count != 0 then %>
                        <font color="red">
                            <%= report.fail_count %>
                        </font>
                        <% else %>
                        <%= report.fail_count %>
                        <% end %>
                    </td>
                    <td>
                        <%= report.skip_count %>
                    </td>
                    <td>
                        <%= report.build_id %>
                    </td>
                    <td>
                        <%= report.fail_count!=0 ? report.description : "回归通过" %>
                    </td>
                </tr>
                <% end %>
            </a>
        </li>
    </ul>
</ul>
