<%= render_facebox %>
<%
	breadcrumb_links =  @pm_folder.ancestors.map{|e|link_to(e.name, pm_lib_pm_folder_path(e.pm_lib_id, e))}      
  breadcrumb_links << link_to(@pm_folder.name, pm_lib_pm_folder_path(@pm_folder.pm_lib_id, @pm_folder))   

	add_folder_link = (link_to_popup 'Add Folder', 	 new_pm_folder_path(:parent_id => @pm_folder)) 
	add_model_link  = (link_to_popup 'Add Model', 	 new_pm_model_path("pm_model[pm_folder_id]" => @pm_folder))
%>
<div> 
	 <%= breadcrumb  breadcrumb_links %> 
</div>
<% if !@pm_folder.pm_models.empty?%>    
		<h2>Models</h2>             
		<%= add_model_link %>	
	 
	  <% table @pm_folder.pm_models, %w[name title] do |row, klass|%>
			 <tr class="<%= klass %>">
		  	<td>                       
					<%= link_to row.name, :action => "index" %>
	  		</td>
		   	<td>                       
			 		<%=   row.title %>
	  		</td>
			</tr>
		<% end %>
<% elsif !@pm_folder.children.empty? %>   
		 <h2>Folders</h2>  
		<%= add_folder_link %>           
		
		  <% table @pm_folder.children, %w[name title] do |row, klass|%>
				 <tr class="<%= klass %>">
			  	<td>                       
						<%= link_to row.name , pm_lib_pm_folder_path(row.pm_lib_id, row) %>
		  		</td>
			   	<td>                       
				 		<%=   row.title %>
		  		</td>
				</tr>
			<% end %>    
<% else %>

	<%= [add_folder_link, add_model_link].join("|") %>
<% end %>