<p>
  <b>Id:</b>
  <%=h @product.id %>
</p>

<p>
  <b>名称:</b>
  <%=h @product.name %>
</p>

<p>
  <b>描述:</b>
  <%=h @product.desc %>
</p>
<p>
  <b>所属产品线:</b>
  <%=h @product.product_line_id %>
</p>

<%= link_to '编辑', edit_admin_product_path(@product) %> |
<%= link_to '返回', admin_products_path %>