<%= render :partial => 'sidebar', :locals=>local_assigns %>
<div align="left">
	  <% form_tag({:action=>"detail"}) do %>
    <table>
        <tr>
            <td>
                自动化状态：
                <select name="auto_state" >
                	<option value="" <%= auto_state_selected(@auto_state,"")%>>全部</option>
                    <option value="0" <%= auto_state_selected(@auto_state,"0")%>>已完成</option>
					<option value="1" <%= auto_state_selected(@auto_state,"1")%>>未完成</option>
                </select>
            </td>
            <td>
                <input type="submit" value="查询">
            </td>
        </tr>
    </table><% end %>
    <% if @testcases.size == 0 %>
    <p class="nodata"><%= l(:label_no_data) %></p>
    <% else %>
    <% table(@testcases, %w{产品线 用例名称 是否自动化状态 自动化的执行状态 历史记录 }) do |testcase, klass| -%>
    <tr class="<%= klass %>">
        <td>
            <%= testcase.project.product_line.name %>
        </td>
        <td>
            <%= testcase.title %>
        </td>
        <td>
            <%= auto_state_str(testcase.script_id) %>
        </td>
        <td>
           
			<%= bgjob_result testcase.last_bgjob %>
        </td>
        <td>
            <%= link_to '历史记录', { :action => 'testcase_history', :id =>testcase.id} %>
        </td>
    </tr>
    <% end %>
    <%= will_paginate @testcases,:params => {:id=>@id,:auto_state =>@auto_state} %>
    <% end %>
</div>
