<div class="tabs">
  <ul>
    <li><a href="/auto/auto_test_reports/bug_report?tab=bug" class="<%= 'selected' if @tab=='bug' %>" id="tab-bug">回归bug报表</a></li>
    <li><a href="/auto/auto_test_reports/failed_reason_report?tab=failed_reason" class="<%= 'selected' if @tab=='failed_reason' %>" id="tab-failed_reason">回归出错原因报表</a></li>
    <li><a href="/auto/auto_test_reports/regress_exec_result_report?tab=regress_exec_result" class="<%= 'selected' if @tab=='regress_exec_result' %>" id="tab-regress_exec_result">回归用例执行结果报表</a></li>
  </ul>
</div>
<div class="tab-content" id="tab-content-bug">
  <%= render :partial => 'sidebar', :locals=>local_assigns %>
  <% form_tag({:action=>"failed_reason_report"}) do %>
    <table align="center">
      <tr>
        <td>
          年份: <%= select_tag "year", options_for_select(Auto::AutoTestReport::START_YEAR..DateTime.now.year,@year.to_i) %>
        </td>
        <td>
          <%= select_tag "month", options_for_select(1..12,@month.to_i) %>月份
        </td>
        <td><%= submit_tag "查询" %></td>
      </tr>
    </table>
  <% end %>
  <table align="center">
    <tr align="center">
      <td align="center" colspan=<%=Setting.reason_infos.select{|e| e}.size%>>
        <% if @reason_report %>
          <img src="<%=failed_reason_report(@reason_report)%>" align="center">
        <% end %>
      </td>
    </tr>
    <tr align="center">
      <% Setting.reason_infos.select{|e| e}.each{|reason_info| %>
        <td align="center">
          <%= link_to "#{reason_info}", {:action => 'failed_reason_detail',:reason_info=>"#{reason_info}",:year=>@year,:month=>@month}  %><br />
        </td>
      <%}%>
    </tr>
  </table>
</div>

