<%= render :partial => "layouts/top", :locals=>{:hide_top=>true} %>
	<div id="top-menu">
		<ul>
			<li><a href="javascript:history.back()"><img src="/images/default/grid/page-prev.gif" alt="后退"/></a></li>
			<li><a href="javascript:history.forward()"><img src="/images/default/grid/page-next.gif" alt="前进"/></a></li>	
			<li><a href="javascript:location.reload()"><img src="/images/default/grid/refresh.gif" alt="刷新"/></a></li>
			<% if controller.class.to_s=~/^Auto/ %>
			<li> <%= link_to "后台管理", "/admin/projects/" %> </li>
			<% end %>
			
			<li style="padding-left:230px;">
				欢迎：<%= User.current.nickname %>
			</li>
		</ul>	
	</div>
  <div id="content">
		<%= render_flash_messages %>
    <%= yield %>
  </div>
  <div id="sidebar">        
      <%= yield :sidebar %>
  </div>
<%= render :partial => "layouts/foot" %>