<%= render :partial => "layouts/top", :locals=>{:hide_top=>true} %>

  <div id="content">            
		<%= render_flash_messages %>
    <%= yield %>
  </div>
  <div id="sidebar">        
      <%= yield :sidebar %>
  </div>
<%= render :partial => "layouts/foot" %>